body{
    background-color: #fcfcfc;
    font-family: helvetica;
}
.title{
    font-size: 100px;
    position: absolute;
    color: #67BEF3;
    font-family: helvetica;
    top: 15%;
    left: 15%;
}
/*PLAY BTN */
button {
 position: relative;
 padding: 19px 36px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 40px;
 border: none;
}

button a {
    text-decoration: none;
 position: relative;
 color: white;
 font-family: helvetica;
 letter-spacing: 5px;
 z-index: 1;
}

button .liquid {
 position: absolute;
 top: -80px;
 left: 0;
 width: 100%;
 height: 200px;
 background: #DE1F1F;
 box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
 transition: .5s;
}

button .liquid::after,
button .liquid::before {
 content: '';
 width: 200%;
 height: 200%;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -75%);
 background: #fff;
}

button .liquid::before {
 border-radius: 45%;
 background: #F9E79F;
 animation: animate 5s linear infinite;
}

button .liquid::after {
 border-radius: 40%;
 background: #F4D03F;
 animation: animate 10s linear infinite;
}

button:hover .liquid {
 top: -120px;
}

@keyframes animate {
 0% {
  transform: translate(-50%, -75%) rotate(0deg);
 }

 100% {
  transform: translate(-50%, -75%) rotate(360deg);
 }
}
.btn{
    position: absolute;
    top: 50%;
    left: 30%;
}
.snake{
    color: white;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 64%;
    width: 25%;
    height: 45%;
}
